/*Video Presentacion de la casa*/
body {
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.video-section, .video-container video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

/*Text Presentacio Casa*/
.presentation-section {
    /*height: 50vh;*/
    padding: 50px 20px;
    display: flex;
    align-items: center;
}

.presentation-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.presentation-content img {
    max-width: 50%;
    border-radius: 5px;
    margin-right: 100px;
}

.presentation-text {
    width: 35%;
}

.presentation-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 1000px) {
    .presentation-section {
        padding-bottom: 20px;
    }

    .presentation-content {
        flex-direction: column;
    }

    .presentation-content img {
        max-width: 100%;
        margin-right: 0px;
    }

    .presentation-text {
        width: 90%;
    }

    .swiper-hero {
        max-width: 90%;
    }
}

.swiper {
    height: auto;
}

.swiper-hero {
    width: 90%;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 4%;
}

.swiper-hero .swiper-slide {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.swiper-hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-hero .swiper-button-prev, .swiper-hero .swiper-button-next {
    --swiper-navigation-size: 30px;
    color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-hero .swiper-button-prev {
    left: 0;
}

.swiper-hero .swiper-button-next {
    right: 0;
}

.swiper-hero:hover .swiper-button-prev, .swiper-hero:hover .swiper-button-next {
    opacity: 1;
}

@media (max-width: 1000px) {
    .swiper-hero {
        max-width: 90%;
    }
}




/*Estils pel mapa 3d*/
.map-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.matterport-map iframe {
    width: 90%;
    height: 75vh;
    border-radius: 15px;
}



/*swiper*/