/*estils generals*/
body {
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #333;
    position: fixed;
    z-index: 11;
    width: 100%;
    align-items: center;
    font-size: 16px;
    gap: 3%;
}

.header a {
    text-align: center;
    text-decoration: none;
    padding: 10px 0px;
    opacity: 0.8;
    color: white;
}

.header a:hover {
    opacity: 1;
}

#imatge-logo img {
    max-width: 200px;
}

#menu-icon,
#categories-container {
    color: white;
    display: none;
}


/*Començem amb el menu responsive*/
@media (max-width: 1000px) {
    #menu-icon {
        display: block;
    }

    .header {
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .header a:not(#imatge-logo) {
        display: none;
        /* Oculta todos los enlaces excepto el que contiene la imagen */
    }

    .categories-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 400px;
        background-color: #333;
        padding: 20px;
        box-sizing: border-box;
        z-index: 999;
        text-align: center;
        font-size: 16px;
        line-height: 2;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .categories-container a {
        display: block;
        color: rgb(216, 189, 208);
        text-decoration: none;
        padding: 7px 0;
    }

    .categories-container a:hover {
        background-color: green;
    }

    .overlay-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }

    .overlay-menu.active {
        display: block;
    }
}

/*Footer*/
footer {
    background-color: #111;
    width: 100%;
}

.footerNav {
    display: flex;
    justify-content: center;
}

.footerNav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.5s;
    padding: 20px;
}

.footerNav a:hover,
.footerTelefon p:hover,
.footerBottom p:hover {
    opacity: 1;
}

.footerTelefon {
    background-color: #000;
    color: white;
    text-align: center;
    opacity: 0.7;
    padding: 20px;
    display: flex;
}

.footerTelefon p {
    flex: 1;
    opacity: 0.7;
}

.footerBottom {
    background-color: #111;
    padding: 10px;
    text-align: center;
}

.footerBottom p {
    opacity: 0.7;
    color: white;
}


@media (max-width: 580px) {
    .footerNav {
        display: none;
    }

    .footerTelefon {
        flex-direction: column;
        align-items: center;
    }
}