body {
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    #zhcal-root div.zhcal_banner {
        display: none !important;
    }

    #zhcal-root td.zhcal_month, #zhcal-root tr.zhcal_month_days td {
        border-top: 1px black solid !important;
        border-bottom: 1px black solid !important;
        color: black !important;
        text-shadow: none !important;
        background-image: none !important;
    }
}

main {
    padding: 70px 70px 70px 70px;
}

@media (max-width: 1000px) {
    main {
        padding: 70px 40px 70px 40px;
    }
}

@media (max-width: 600px) {
    main {
        padding: 70px 20px 70px 20px;
    }
}
